#fil {
    background-color: rgb(158, 160, 161);
    border: 3px rgb(165, 154, 154);
}

#conteudo {
    background-color: rgb(158, 160, 161);
}
#body {
    background-color: rgb(158, 160, 161);
}