td {
    color: #181515;
}
#botoes {
    border: 1px solid #ffffff;
    width: 200px;
}
#linhas {
    border: 1px solid #ffffff;
    width: 200px;
}
#zip {
    border: 1px solid #ffffff;
    width: 200px;
}   
button {
   background-color: aliceblue;
   border: 2px double;
}
button:hover {
    background-color: rgb(17, 24, 29); 
    border: 2px double;
    color: aliceblue;
 }
 
