body{
    background-color: #071937;
    margin: 0;
    padding: 5px;
}
    
#banner {
    border: 7px double  #304a6a;
    height: 128px;
    background-image: url(S&S\ AVIAMENTOS.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #071937;
}
#menu {
   
    background-color: #304a6a;
    height: 30px;
    margin-top: 5px;
    margin-left: 0%;
    
}
table {
    text-align: center;
    width: 100%;
}
tr {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #071937;
}
a:hover{
    color: #537297;
}
iframe {
    border: 3px solid #304a6a;
    width: 99%;
    height: 500px;
   
}

/* HOME.HTML */
h2, h3, p {
    color: #537297;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}