body{
    background-color: #071937;
    margin: 0;
    padding: 5px;
}
    
#banner {
    border: 7px double  #304a6a;
    height: 128px;
    background-image: url(S&S\ AVIAMENTOS.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #071937;
}
#menu {
    background-color: #304a6a;
    margin-top: 9px;
    margin-left: 0%;
    padding: 8px;
}